@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Balsamiq+Sans:wght@700&family=Butterfly+Kids&family=Caveat+Brush&family=Crafty+Girls&family=Dawning+of+a+New+Day&family=Fuzzy+Bubbles:wght@700&family=Hi+Melody&family=Jua&family=Just+Me+Again+Down+Here&family=Love+Ya+Like+A+Sister&family=Mansalva&family=Mountains+of+Christmas&family=Schoolbell&family=Short+Stack&family=Sunshiney&family=Yomogi&display=swap");


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  font-family:'Schoolbell', cursive;
  font-size: 70px;
  padding-bottom: 0;
  text-align: center;
}

body {
  /* background-color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('C:\\Users\\Krish\\.vscode\\McWiCS2023\\pictures\\backgroundsnail.png');
  background-size:100% auto;
}

.app {
  background-color: white;
  width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow:
	  inset #fc9790 0 0 0 5px, 
    inset #FF9966 0 0 0 1px, 
    inset #9a77b5 0 0 0 10px, 
    inset #bfecf7 0 0 0 11px;
  display: flex;
  justify-content: space-evenly;
  font-family: 'Short Stack', cursive;
  color: #fc9790;
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
  position: relative;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  width: 100%;
  font-size: 16px;
  color: #7fa367;
  font-family: 'Short Stack', cursive;
  background-color: #faf3a7;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 0px solid black;
  cursor: pointer;
  margin:5px;
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

button:hover {
  background-color: #FFCCCC;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}

.Results{
  position: absolute;
  right:    0;
  bottom:   0;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 40px;
}